body {
    background-color: #F8F8F8;
  }

.student-list {
    text-align: center;
    width:60%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:75%;
    border:1px;
    overflow:scroll;
    border-radius:10px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.student-list input {
    width:100%;
    height:40px;
    border: none;
    border-bottom: 2px solid #F8F8F8;
    font-family: 'Courier New', monospace;
}
.container {
    display:flex;
    background-color: white;
    border-bottom: 2px solid #F8F8F8;
    justify-content: flex-start;
    flex-direction: row;
}

.img-box {
    flex: 1;
    width:25%;
    flex-grow: 0;
    flex-basis: 20%;
  }
  
  .student-info {
    flex: 1;
    flex-grow: 3;
    padding-left: 20px;
  }

  .student-info p {
    text-align: left;
    position: relative;
    left: 20px; /* This will move it 20px to the right */
    font-family: 'Courier New', monospace;
    line-height: 1px;
    font-size: 18px;
  }
  .student-info h1 {
    text-transform: uppercase;
    text-align: left;
    position: relative;
    white-space: nowrap;
	  font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 30px;
    font-weight: bolder;
  }

  .container .grades{
    line-height: .3;
    font-size:17px;
  }

.toggle{
    flex:1;
    text-align: right;
    padding-right: 10px;
    padding-top: 30px;
    flex-shrink: 1;
}

#image-border {
    border-radius:50% 50% 50% 50%;  
    border: 2px solid #F8F8F8;
    width:125px;
    height:125px;
    position: relative;
    top: 30px;
    margin-left: 10px;
}